body .page ol ol{list-style-type:upper-roman}
OL { counter-reset: section -1 }
LI { display: block }
LI:before { content: counters(section, ".") "."; counter-increment: section }
ol OL { counter-reset: section }
ol LI { display: block }
ol LI:before { content: counters(section, ".") "."; counter-increment: section }

.page .normal td{page-break-inside: avoid}
.page .normal img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}