h1,h2,h3 {color:#008DB2}

.book .book-summary{
	font-family: Lato,Arial,sans-serif;
}
.book .book-summary {background-color: #F9F9F9)}

.book .book-summary ul.summary li.active>a{color:#006B94;background:transparent;text-decoration:none}
.book .book-summary ul.summary li a:link{color:#008DB2;background:transparent;text-decoration:none}
.book .book-summary ul.summary li a:hover{color:#006B94;background:transparent;text-decoration:none}
.book .book-summary ul.summary li.done>a{color:#008DB2}
.book .book-summary ul.summary li.done>a:hover{color:#006B94}
.book .book-summary ul.summary::before{
	content: url(../modelab_logo.png)
}